
body {
	display: grid;
	column-gap: 1em;
	grid-template-columns: minmax(300px, 1fr) 300px;
	grid-template-rows: auto;
	padding-bottom: 15px;
}
body > * {
	grid-column: 1;
}
body > #sidebar {
	grid-column: 2;
	/* Cannot use -1 when the rows are dynamic. */
	grid-row-end: span 99;
}


* {
	max-width: 100%;
}

#sidebar {
	border-left: dashed 1px grey;
	padding: 0 15px;
	background: #f8f8f8;
}
#sidebar > *+* {
	border-top: dashed 1px grey;
}



blockquote,
#output {
	border-left: dotted 1px black;
	padding-left: 5px;
	white-space: wrap;
}
blockquote[cite]::after {
	border-left: dotted 1px grey;
	padding-left: 0.2em;
	margin-left: 0.5em;
	display: block;
	content: attr(cite);
}

#board {
	border: dashed 1px grey;
	/*
	TODO:
		Make the canvas draw pretty on different sizes.
		Note that the grid draws ugly.
		Maybe we can draw the canvas with width and height
			equal to the board-size, or some multiple of that.

	width: 100%;
	aspect-ratio: 1 / 1;
	*/
	width: 300px;
	height: 300px;
}
#board canvas {
	width: 300px;
	height: 300px;
}

input[type="number"] {
	width: 3em;
}

h2.instructions {
	display: none;
}

ul.controls {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
}
ul.controls li {
	display: inline-block;
}
