
body {
}

#config {
}

canvas#board {
	border: dashed 1px grey;
}

input[type="number"] {
	width: 2em;
}

ul.controls {
	padding: 0;
}
ul.controls li {
	display: inline-block;
}
ul.controls li+li {
	margin-left: 3px;
}